/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* */
.root{
	 
	-fx-background-color: #091f11;

	-fx-text-fill: white;
	-fx-border-style: solid;
	-fx-border-width: 3;
	-fx-border-color: #595959;
	-fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.5) , 0, 0.0 , 0 , 1);
	
}
.button{
	-fx-background-color:
		#595959,
		rgba(0,0,0,0.02),
        linear-gradient(red, blue),
        /*linear-gradient(#19f2d6 0%, #091211 20%, #e6c75d 80%, #224445 100%),*/
        linear-gradient(darkGray, lightYellow);
    -fx-background-insets: 0,9 9 4 4,4,4,4;
    -fx-background-radius: 40;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: #311c69;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.3) , 2, 0.0 , 0 , 1);
		
	
	
}
.button:pressed {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,1) , 10,0,0,1 ); 

    -fx-background-color: lightGreen;
}
.button:active {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,1) , 10,0,0,1 ); 
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
    -fx-background-color: DarkBlue;
}

.button:focused {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,1) , 10,0,0,1 ); 
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
    -fx-background-color: #f5c542;
}
.label{
	-fx-text-fill: inherit;
}
#labelRandom{

	-fx-background-color: inherit;
	-fx-text-fill: red;


}
#loginButtom{
	-fx-background-image: url("/images/striped_login_border.png");
}

/*
-fx-background-color: rgba(255,255,255,.80);



*/