/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* */
.root{
	 
	-fx-background-color: #091f11;

	-fx-text-fill: white;
	-fx-border-style: solid;
	-fx-border-width: 3;
	-fx-border-color: #696969;
	
	
}
.button{
	-fx-text-fill: inherit;
	-fx-background-color: inherit;
	-fx-border-color: white;
	
}
.button:pressed {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 ); 
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
}
.label{
	-fx-text-fill: inherit;
}
#labelRandom{

	-fx-background-color: inherit;
	-fx-text-fill: red;


}

/*
-fx-background-color: rgba(255,255,255,.80);



*/